/* Added global values outside of Tailwind CSS */

body {
  font-size: 110%;
  color: var(--text-slate-200);
  line-height: 1.2;
}
h1,
h2,
h3,
h4 {
  color: theme(colors.slate.700);
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: var(--font-size-4xl);
}
h2 {
  font-size: var(--font-size-3xl);
}
h3 {
  font-size: var(--font-size-2xl);
}

section {
  margin-top: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
  margin-bottom: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
}
.footer-section li {
  font-weight: 300;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.5;
}
li a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  padding-left: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
  padding-right: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
}
.box-padding {
  padding-left: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
  padding-right: clamp(1rem, calc(1rem + ((1vw - 0.3rem) * 14)), 8rem);
}
.behold-gw-post {
  box-shadow: 0 130px 100px #5c57431c, 0 49.7154px 74.7819px #5c574314,
    0 26.5802px 39.982px #5c574311, 0 14.9006px 22.4136px #5c57430e,
    0 7.91362px 11.9037px #5c57430b, 0 3.29304px 4.95339px #5c574308;
}
.behold-gallery-wall {
  overflow: visible !important;
}
img.behold-gw-image {
  filter: saturate(0.4);
}
