---
---

<div
  class="brand-logos flex flex-row gap-4 py-2 px-8 justify-start bg-white items-center justify-center rounded-md max-w-lg overflow-hidden">
  <img
    src="/assets/images/wordpress-logo.png"
    class="brand-logo"
    alt="WordPress logo"
  />
  <img
    src="/assets/images/shopify-logo.jpg"
    class="brand-logo"
    alt="Shopify logo"
  />
  <img
    src="/assets/images/oxygen-logo.png"
    class="brand-logo brand-logo-wide"
    alt="Oxygen Builder logo"
  />
  <img
    src="/assets/images/astro-logo.png"
    class="brand-logo"
    alt="Astro.builder logo"
  />
  <img
    src="/assets/images/render-logo.svg"
    class="brand-logo brand-logo-wide"
    alt="Render logo"
  />
  <img
    src="/assets/images/github-logo.png"
    class="brand-logo"
    alt="Github logo"
  />
</div>

<style>
  .brand-logo {
    width: auto;
    height: auto;
    max-height: 22px;
  }
  .brand-logo-wide {
    height: 16px;
  }
</style>
