---
---

<header
  class="main-header w-full flex bg-primary-900 h-[70px] border-b border-primary-800">
  <div class="header-wrapper wrapper flex align-middle justify-between">
    <div class="logo-wrapper flex self-center">
      <img
        src="/assets/images/demo-logo.png"
        width="180px"
        height="auto"
        alt="Hey. I‘m John Mac"
        class="logo"
      />
    </div>

    <nav
      class="main-nav text-base text-white flex justify-end place-items-center w-2/3">
      <ul class="flex gap-8">
        <a href="/"><li>Home</li></a>
        <a href="/archive/"><li>Articles</li></a>
        <a href=""><li>Learn</li></a>
        <a href="/resources/"><li>Resources</li></a>
      </ul>
    </nav>
  </div>
</header>
