---
---

<body>
  <section class="wrapper">
    <h2>Archive Layout here.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
      consectetur, excepturi natus facilis culpa aperiam cum magnam. Ipsum,
      beatae molestiae. Corrupti vitae esse officiis totam in architecto
      perferendis tempore distinctio!
    </p>
  </section>
</body>
